.slides
	section
		br
		br
		br
		h1 Visualizing Concurrency in Go
		h5 GopherCon, July 11, 2016
		h5 Ivan Danyliuk, Typeform
	mixin slide(title, sample)
		section
			h3= title
			canvas(data-sample=sample, style='display:inline')

	section
		h3 Number forms
		img(src="images/numberforms.png",width="70%")
	section
		h3 Visualizations
		img(src="images/visuals.png",width="90%")
	section
		br
		br
		br
		br
		h1 How do you see
		h1 concurrency?
	section
		br
		br
		img(src="images/cortex.png",width="90%")
	section
		br
		br
		br
		h1 Introducing
		h1 GoTrace tool
	section
		h3 Hello, world!
		pre
			include ./code/hello01.html
	+slide("Hello, world!", "hello01")
	section
		h3 Timer
		pre
			include ./code/timer01.html
	+slide("Timer", "timer01")

	section
		h3 Ping-pong
		pre
			include ./code/pingpong01.html
	section
		h3 Ping-pong
		img(src="images/tabletennis.gif")
	+slide("Ping-pong", "pingpong01")

	section(transition="none")
		h3 Ping-pong #3
		pre
			include ./code/pingpong03.html
	+slide("Ping-pong #3", "pingpong03")

	section
		h3 Ping-pong #36
		pre
			include ./code/pingpong36.html
	+slide("Ping-pong #36", "pingpong36")

	section
		br
		br
		br
		br
		br
		h1 Messaging patterns

	section
		h3 Fan-in
		pre
			include ./code/fanin.html
	+slide("Fan in", "fanin")

	section
		h3 Servers
		pre
			include ./code/server01.html
	+slide("Servers", "server01")

	section
		h3 Servers
		pre(style='width: 55%; float: left; padding: 5px')
			include ./code/server02_part1.html
		pre(style='width: 43%; float: right; padding: 5px')
			include ./code/server02_part2.html
	+slide("Servers", "server02")

	section
		h3 Workers / Fan-out
		pre(style='width: 40%; float: left; padding: 5px')
			include ./code/workers01_part1.html
		pre(style='width: 55%; float: right; padding: 5px')
			include ./code/workers01_part2.html
	+slide("Workers", "workers01")

	+slide("Subworkers", "workers02")

	+slide("Server+Worker", "server03")

	section
		h3 Concurrent prime sieve
		pre(style='width: 43%; float: left; padding: 5px')
			include ./code/primesieve_part1.html
		pre(style='width: 55%; float: right; padding: 5px')
			include ./code/primesieve_part2.html
	+slide("Concurrent prime sieve", "primesieve")

	section
		h3 GOMAXPROCS
		img(src="images/gomaxprocs.png")

	+slide("GOMAXPROCS = 1", "gomaxprocs1")
	+slide("GOMAXPROCS = 24", "gomaxprocs24")
	section
		br
		br
		br
		h3 Goroutines leak
	+slide("Goroutines leak", "leakage")

	section
		br
		br
		br
		h3 Go Concurrency Tracer
		ul
			li Uses go execution tracer (go tool trace)
			li Rewrites your code and runs it
			li Collect the trace
			li Analyze and correlate events
			li Start web-server serving WebGL visualization

	section
		br
		br
		br
		h3 Go Concurrency Tracer
		ul
			li Will be open-sourced today
			li
				a(href="https://github.com/divan/gotrace", target="_blank") github.com/divan/gotrace
			li Requires patched Go (or pre-made docker images)

	section
		br
		h3 Rob Pike - Concurrency is not parallelism
		br
		a(href="https://www.youtube.com/watch?v=cN_DpYBzKso", target="_blank")
			img(src="images/video.png",width="70%")

	section
		br
		br
		br
		h3 Concurrency vs Parallelism
		ul
			li What is parallelism?
			li What is concurrency?
			li Let's visualize it.

	+slide("That is parallelism", "parallelism00")
	+slide("That is parallelism", "parallelism01")
	+slide("That is parallelism", "parallelism02")
	+slide("And that is concurrency", "primesieve")
	+slide("That is concurrency", "pingpong36")
	+slide("That is concurrency", "server03")
	+slide("That is concurrency", "workers01")
	+slide("That is concurrency", "workers02")
	section
		br
		br
		br
		br
		br
		h1 Thank you
